[Desktop Entry]
Version=1.0
Type=Application
Name=ABRIR DMR2M17
Comment=
Exec=sh ejecutar_DMR2M17.sh
Icon=/home/pi/V107/ICONO_M17_OFF.png
Path=/home/pi/V107
Terminal=false
StartupNotify=false
