[Desktop Entry]
Version=1.0
Type=Application
Name=Editar solo DSTAR
Comment=
Exec=sh -c "cd /home/pi/V107; ./qt_editor_solodstar"
Icon=/home/pi/V107/ICONO_EDITAR_SOLODSTAR.png
Path=/home/pi/MMDVMHost
Terminal=false
StartupNotify=false
